.main {
  display: flex;
}

.triangle {
  position: absolute;
  left: 46.11%;
  right: 44.21%;
  top: 44.41%;
  bottom: 44.41%;
  background: #1A1B1C;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* rombuses */

position: absolute;
width: 762px;
height: 762px;
left: 1539px;
top: 99px;



/* Rectangle 2778 */

position: absolute;
width: 602px;
height: 602px;
left: 1619px;
top: 179px;

border: 2px dashed #A0A4AB;


/* Rectangle 2779 */

position: absolute;
width: 682px;
height: 682px;
left: 1579px;
top: 139px;

opacity: 0.6;
border: 2px dashed #A0A4AB;


/* Rectangle 2780 */

position: absolute;
width: 762px;
height: 762px;
left: 1539px;
top: 99px;

opacity: 0.3;
border: 2px dashed #A0A4AB;
